.hover,
.hover h2 {
    text-align: center
}

.hover,
.hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.ehover11 .overlay::before,
.ehover12 h2::after,
.ehover7 .overlay::before {
    content: ''
}

.modal-body p,
pre {
    text-transform: none;
    letter-spacing: 0
}


.titlep {
    letter-spacing: 0;
    padding-bottom: 60px;
    font-size: 18px
}

.breath {
    padding-top: 80px
}

.topinfo {
    position: absolute;
    bottom: 1px;
    left: 96px
}

.page-header {
    display: inline-block;
    margin: 40px 0 20px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 12px
}

.modal-content {
    color: #000
}

.modal-body p {
    font-size: 16px
}

.hover button.info,
.hover h2 {
    text-transform: uppercase;
    color: #fff
}

.navbar-inverse {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-bottom: 1px solid #fff
}
/*
ul.nav.navbar-nav {
    float: right
}*/

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff
}


.hover {
    /* float: left;
    position: relative; */
    cursor: default
}

.hover .overlay {
    position: absolute;
    top: 0;
    left: 0
}

.hover img {
    display: block;
    position: relative
}

.ehover10 button,
.hover button.info {
    display: inline-block
}

.hover h2 {
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, .6)
}

.hover button.info {
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0;
    border-radius: 0;
    background-color: transparent
}

.hover button.info:hover {
    box-shadow: 0 0 5px #fff
}

.ehover5 button.info:hover,
.hover button.nullbutton:hover {
    box-shadow: none
}

.hover button.nullbutton {
    border: none;
    padding: 0;
    margin: 0
}

.ehover4 button.info,
.ehover42 button.info {
    margin: -55px 0 0;
    padding: 73px 90px;
    font-weight: 400;
    border: 1px solid #fff
}

.modal-open .modal,
button:focus {
    outline: 0!important
}

.point {
    cursor: pointer
}

.ehover1 img {
    -webkit-transition: all .4s linear;
    transition: all .4s linear
}

.ehover1 .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover1 h2 {
    -ms-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1 button.info {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover1:hover .overlay {
    opacity: 1
}

.ehover1:hover button.info,
.ehover1:hover h2 {
    opacity: 1;
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0)
}

.ehover1:hover button.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.ehover2 img {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.ehover2 .overlay {
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all .2s .4s ease-in-out;
    transition: all .2s .4s ease-in-out
}

.ehover2 button.info,
.ehover9 h2 {
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px)
}

.ehover2 button.info {
    transform: translateY(-200px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover2:hover .overlay {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.ehover2:hover h2 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.ehover2:hover button.info,
.ehover9:hover h2 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transition-delay: .3s
}

.ehover2:hover button.info {
    transform: translateY(0);
    transition-delay: .3s
}

.ehover3 img {
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in
}

.ehover3 button.info,
.ehover3 h2 {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 0
}

.ehover4 .overlay,
.ehover4 h2 {
    -webkit-transition: all .4s ease-in-out
}

.ehover3:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover3:hover button.info,
.ehover3:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ehover4 h2 {
    -webkit-transform: translateY(55px);
    -ms-transform: translateY(55px);
    transform: translateY(55px);
    transition: all .4s ease-in-out
}

.ehover4:hover h2 {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px)
}

.ehover4 .overlay {
    background-color: rgba(75, 75, 75, .7);
    transition: all .4s ease-in-out
}

.ehover4:hover .overlay {
    background-color: rgba(48, 152, 157, .4)
}

.ehover4 button.info {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover42 .overlay,
.ehover42 h2 {
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover4:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ehover42 h2 {
    -webkit-transform: translateY(55px);
    -ms-transform: translateY(55px);
    transform: translateY(55px);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover h2 {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px)
}

.ehover42 .overlay {
    background-color: rgba(75, 75, 75, .7);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 img,
.ehover42 button.info {
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover .overlay {
    background-color: rgba(48, 152, 157, .4)
}

.ehover42 button.info {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ehover1v2 img {
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 h2 {
    -ms-transform: translatey(-100px);
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(.88, -.99, 0, 1.81);
    transition: all .2s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 button.info {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1v2:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover1v2:hover .overlay {
    opacity: 1
}

.ehover1v2:hover button.info,
.ehover1v2:hover h2 {
    opacity: 1;
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0)
}

.ehover1v2:hover button.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.ehover5 h2,
.ehover5 img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover5 img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.ehover5:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ehover5 .overlay {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover5:hover .overlay {
    background-color: rgba(170, 170, 170, .4)
}

.ehover5 button.info {
    opacity: 0;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-weight: 400;
    border: 1px solid #fff;
    height: 85%;
    width: 85%;
    position: absolute;
    top: -20%;
    left: 8%;
    padding: 70px
}

.ehover6 h2,
.ehover6 hr,
.group1,
.group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity .35s, -webkit-transform .35s
}

.ehover5:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, .4)
}

.ehover6 h2,
.ehover6 hr,
.ehover7 h2,
.ehover7 p,
.group1,
.group2 {
    background-color: transparent;
    margin: 0
}

.ehover6 .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0
}

.ehover6 hr {
    width: 50%;
    opacity: 0
}

.ehover6 hr:nth-child(2) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(0, 0, 1)
}

.ehover6 hr:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1)
}

.ehover6 h2,
.ehover6 hr {
    top: 50%;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%
}

.group1,
.group2 {
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    padding: 0;
    letter-spacing: 0
}

.group1 {
    top: 40%
}

.group2 {
    top: 60%
}

.ehover6 h2 {
    width: 100%
}

.ehover6 p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2
}

.ehover6 p a {
    color: #fff
}

.ehover6 p a:focus,
.ehover6 p a:hover {
    opacity: .6
}

.ehover6 a i {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    padding: 10px;
    font-size: 20px
}

.ehover7 p,
.ehover8 p {
    text-transform: none;
    font-size: 15px;
    line-height: 2
}

.group1 a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2)
}

.group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2)
}

.group2 a:first-child i {
    -webkit-transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2)
}

.group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2)
}

.ehover6:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1)
}

.ehover6:hover hr:nth-child(2) {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(1, 1, 1)
}

.ehover6:hover hr:nth-child(3) {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(1, 1, 1)
}

.ehover6:hover .group1 i:empty,
.ehover6:hover .group2 i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0) rotate(45deg) scale(1);
    opacity: 1
}

.ehover6 img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .35s;
    transition: all .35s
}

.ehover7 .overlay::before,
.ehover7 h2,
.ehover7 p {
    position: absolute;
    left: 50%;
    -webkit-transition: opacity .35s, -webkit-transform .35s
}

.ehover6:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: brightness(.7);
    -webkit-filter: brightness(.7)
}

.ehover7 h2,
.ehover7 p,
.ehover8 h2,
.ehover8 hr {
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0)
}

.ehover7 h2,
.ehover7 p {
    transition: opacity .35s, transform .35s;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    padding: 0
}

.ehover7 .overlay::before {
    top: 50%;
    width: 40%;
    height: 60%;
    border: 2px solid #fff;
    opacity: 0;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%
}

.ehover7 p {
    width: 20%
}

.ehover7 p a {
    color: #fff
}

.ehover7 p a:focus,
.ehover7 p a:hover {
    opacity: .6
}

.ehover7 a i {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    padding: 0 5px
}

.ehover7 p a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0)
}

.ehover7 p a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0)
}

.ehover7 p a:nth-child(3) i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0)
}

.ehover7 p a:nth-child(4) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0)
}

.ehover7:hover .overlay::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -135deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -135deg) scale3d(1, 1, 1)
}

.ehover8 h2,
.ehover8 hr,
.set1,
.set2 {
    left: 50%;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    background-color: transparent;
    position: absolute;
    margin: 0
}

.ehover7:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1)
}

.ehover7:hover p i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.ehover8 hr {
    width: 40%;
    opacity: 0;
    border: 1px solid #FFF
}

.ehover8 hr:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1)
}

.ehover8 hr:nth-child(4) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg) scale3d(0, 0, 1)
}

.ehover8 h2,
.ehover8 hr {
    transition: opacity .35s, transform .35s;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%
}

.set1,
.set2 {
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    padding: 0
}

.set1 {
    top: 40%
}

.set2 {
    top: 60%
}

.ehover8 p {
    width: 30%
}

.ehover8 p a {
    color: #fff
}

.ehover8 p a:focus,
.ehover8 p a:hover {
    opacity: .6
}

.ehover8 a i {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    padding: 10px;
    font-size: 20px
}

.set1 a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0);
    transform: translate3d(-60px, -60px, 0)
}

.set1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0);
    transform: translate3d(60px, -60px, 0)
}

.set2 a:first-child i {
    -webkit-transform: translate3d(-60px, 60px, 0);
    transform: translate3d(-60px, 60px, 0)
}

.set2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, 60px, 0);
    transform: translate3d(60px, 60px, 0)
}

.ehover8:hover h2 {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(.8, .8, 1)
}

.ehover8:hover hr:nth-child(3) {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1)
}

.ehover8:hover hr:nth-child(4) {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1)
}

.ehover8:hover .set1 i:empty,
.ehover8:hover .set2 i:empty {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.ehover9 .overlay {
    background-color: rgba(255, 255, 255, .7);
    top: -200px;
    opacity: 0;
    -webkit-transition: all .1s ease-out .5s;
    transition: all .1s ease-out .5s
}

.ehover9 h2 {
    transform: translateY(-200px);
    -webkit-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.ehover9 button.info {
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #000;
    border: 1px solid #000;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}

.ehover10 .overlay,
.ehover10 img {
    -webkit-transition: -webkit-transform .35s
}

.ehover9:hover .overlay {
    opacity: 1;
    top: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.ehover9:hover h2 {
    transform: translateY(0);
    transition-delay: .3s
}

.ehover9:hover button.info {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    box-shadow: 0 0 5px #000;
    color: #000;
    border: 1px solid #000;
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.ehover10 img {
    transition: transform .35s
}

.ehover10:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0)
}

.ehover10 .overlay {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    transition: transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.ehover10 button.info {
    float: left;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    background: rgba(0, 0, 0, .6)
}

.ehover10 p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em
}

.ehover10:hover p.icon-links a:focus,
.ehover10:hover p.icon-links a:hover {
    color: #252d31
}

.ehover10 button,
.ehover10 p.icon-links a {
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0)
}

.ehover11 .overlay::before,
.ehover11 img {
    -webkit-transition: opacity .35s, -webkit-transform .45s
}

.ehover10 p.icon-links a span::before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ehover10:hover .overlay,
.ehover10:hover button,
.ehover10:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover10:hover h2 {
    -webkit-transition-delay: .05s;
    transition-delay: .05s
}

.ehover10:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.ehover10:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

.ehover10:hover p.icon-links a:first-child {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.ehover11 {
    background: -webkit-linear-gradient(45deg, #ff89e9 0, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0, #05abe0 100%)
}

.ehover11 img {
    max-width: none;
    width: calc(100% + 60px);
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

.ehover11 .overlay::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    opacity: 0;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
}

.ehover11 .overlay {
    padding: 3em;
    text-align: left
}

.ehover11 h2 {
    background-color: transparent;
    padding: 15% 0 10px;
    text-align: left
}

.ehover11 button.info {
    color: #FFF;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-transition: opacity .35s, -webkit-transform .45s;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

.ehover11:hover img {
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover11:hover .overlay::before,
.ehover11:hover button.info {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover12 {
    background: #42b078
}

.ehover12 img {
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ehover12:hover img {
    opacity: .4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover12 .overlay {
    padding: 50px 20px
}

.ehover12 h2 {
    position: relative;
    overflow: hidden;
    padding: .5em 0;
    background-color: transparent
}

.ehover12 h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.ehover12:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover12 button {
    color: #FFF;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.ehover12:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover13 img {
    -webkit-transition: all .35s;
    transition: all .35s
}

.ehover13 .overlay,
.ehover13 button {
    -webkit-transition: opacity .35s, -webkit-transform .35s
}

.ehover13:hover img {
    filter: brightness(.6);
    -webkit-filter: brightness(.6)
}

.ehover13 .overlay {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1)
}

.ehover13:hover .overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.ehover13 button,
.ehover13 h2 {
    opacity: 0;
    color: #FFF;
    padding: 1em 0
}

.ehover13 button {
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.ehover13 h2 {
    background-color: transparent;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.ehover13:hover button,
.ehover13:hover h2 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover14 img {
    -webkit-transition: all .35s;
    transition: all .35s
}

.ehover14 .overlay,
.ehover14 button {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    opacity: 0
}

.ehover14:hover img {
    filter: brightness(1.4);
    -webkit-filter: brightness(1.4)
}

.ehover14 .overlay {
    width: 55%;
    height: 81%;
    left: 22%;
    top: 10%;
    border-radius: 80%;
    border: 2px solid #FFF;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(50%, 50%, 0);
    transform: translate3d(50%, 50%, 0)
}

.ehover14:hover .overlay {
    background-color: rgba(0, 0, 0, .3)
}

.ehover14 button {
    color: #FFF;
    padding: 1em 0;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-150%, -400%, 0);
    transform: translate3d(-150%, -400%, 0)
}

.ehover14 h2 {
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-150%, -400%, 0);
    transform: translate3d(-150%, -400%, 0)
}

.ehover14:hover .overlay,
.ehover14:hover button,
.ehover14:hover h2 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}