/*

    Theme Name: Myanmar Holidays Travels & Tours

    Version: 1.0

    Description: Nice and sleek responsive design

*/

@import url("assets/css/combine.min.css");



/* WordPress Core styles */

a img.aligncenter{display:block;margin-left:auto;margin-right:auto}

.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;text-align:center;padding:5px 3px 10px}

.wp-caption.alignright{margin:5px 0 20px 20px}

.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}

.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}

.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 10px 20px 0}

.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto}

.alignright,a img.alignright{float:right;margin:5px 0 20px 20px}

.alignleft,a img.alignleft{float:left;margin:5px 15px 5px 0}

body {
    background: url('assets/images/gplaypattern.png') repeat;
    font-family: 'Roboto Slab', serif;
    color:#464646;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body p {
    line-height: 24px;
}
body img {
    max-width: 100%;
    height: auto;
}
#main { 
    box-shadow: 0 0 5px 1px #7e7e7e;
    margin-top: 30px;
    padding: 6px 14px 0;
    background: #fff;
    overflow: hidden;
}
.header-top .info-right {
    margin: 15px 0 0;
}
.header-top .info-right ul li {
    display: inline-block;
}
.header-top .info-right ul.info li {
    margin-left: 10px;
    color:#464646;
    font-size: 14px;
}
.header-top .info-right ul.info li span {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.header-top .info-right ul.social {
    text-align: right;
    margin-top: 5px;
}
.header-top .info-right ul.social li {
    margin-left: 20px;
    font-size: 22px;
} 
.header-top .info-right ul.social li i.fa-facebook {
    color:#3d598a;
}
.header-top .info-right ul.social li i.fa-twitter {
    color:#00c0f3;
}
.header-top .info-right ul.social li i.fa-google-plus {
    color:#f34a38;
}
.header-menu .menu-main-menu-container {
    border-bottom: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    display: inline-block;
    margin: 7px 0 14px;
    padding: 18px 0;
    width: 100%;
}
.navbar-nav>li {
    /*float: left;*/
    margin-right: 28px;
}
.header-menu .menu-main-menu-container li:last-child {
    margin-right: 0;
}
 .navbar-default .navbar-nav>li>a {
    color:#464646;
    font-size: 14px;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 0px;
}
.menu-main-menu-container ul li .sub-menu {
    position: absolute;
    width: 200px;
    background: #D9DFDB;
    display: none;
    z-index: 99999;
}
.menu-main-menu-container ul li .sub-menu li {
    width: 100%;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #cbcbcb;
    margin-right: 0;
}
.menu-main-menu-container ul li .sub-menu li:last-child {
    border: none;
}
.menu-main-menu-container ul li .sub-menu li a {
    color: #464646!important;
    font-size: 13px;
}
.menu-main-menu-container ul li .sub-menu li a:hover {
    color: #83a943!important;
}
.menu-main-menu-container ul li:hover .sub-menu {
    display: block;
}
#footer .row {
    background: #d9dfdb;
    border-top: 2px solid #a7a7a7;
    padding-top: 50px;
}
#footer h3.footer-title {
    color:#464646;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 18px;
}
#footer .widget .menu li a {
    background: rgba(0, 0, 0, 0) url("images/icon-right.png") no-repeat scroll left center;
    color: #464646;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 20px;
}
#footer .widget .menu li a:hover
{
    color: #83A943;
    transition: all .10s ease-in-out;
    -webkit-transition: all .10s ease-in-out;
    -o-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    text-indent: 20px;
}
#footer .widget .menu {
    margin-bottom: 15px;
}
#footer  .contact-info ul li  {
    font-size: 16px;
    color:#3f3f3f;
    float: left;
    width:100%;
    margin-bottom: 15px;
}
#footer  .contact-info ul li i {
    width:30px;
    float: left;
    color:#625831;
    font-size: 21px;
}
#footer  .contact-info ul li span.ct-info {
    width: calc(100% - 30px);
    float: left;
}
#footer .gallery img {
    border: 0;
    border-radius: 15px;
}
#footer .gallery img:hover
{
    opacity:0.5;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    box-shadow: 0px 0px 3px #333;
}
#footer .gallery dl {
    margin: 0 8px 8px 0;
}
.footer-copyright .row {
    background: #625831;
    padding: 18px 0;
}
.footer-copyright p {
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0;
}
.content-area .rev_slider_wrapper .tp-bullets {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    display: inline-block !important;
    height: auto !important;
    padding: 14px 17px;
    width: auto !important;
}
.custom .tp-bullet {
    background: #fff none repeat scroll 0 0 !important;
/*    float: left !important;
    left: auto !important;
    margin: 0 5px;
    position: relative !important;*/
}
.custom .tp-bullet:hover, .custom .tp-bullet.selected {
    background: #67a400 !important;
}
.tparrows {
    background: rgba(0, 0, 0, 0.3) !important;
}
.rev_slider_wrapper .tp-parallax-wrap {
    left: 0 !important;
    text-align: center;
    top: auto !important;
    width: 100%;
    bottom: 0 !important;
    background: rgba(0, 0, 0, 0.3) !important;
    padding: 25px 0;
} 
.rev_slider_wrapper .tp-parallax-wrap .tp-mask-wrap, .rev_slider_wrapper .tp-parallax-wrap .tp-loop-wrap  {
    position: relative !important;
}
.home-about {
    margin-top: 15px;
}
.home-about .about-us {
    text-align: center;
}
.home-about .about-us .title-border {
    margin: -11px auto 0;
    width: 360px;
}
.home-about .col-lg-8 {
    padding-right: 20px;
}
.home-about .home-about-right {
    padding-left: 45px;
    box-shadow: 10px 0 9px -9px rgba(0, 0, 0, 0.75) inset;
}
#responsive-menu  .responsive-menu-subarrow {
    background: #66A102!important;
}
.title-border {
    background: rgba(0, 0, 0, 0) url("images/arrow-down.png") no-repeat scroll center bottom;
    color: #464646;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}
.home-about .about-us  h3 {
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0 ;
}
.home-about .about-us p {
    line-height: 24px;
}
a.read-more {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
a.read-more:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #607b32;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    box-shadow: 0px 2px 0px #3f5021;
}
a.read-more:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.home-about .about-us .read-more, .contactform button,.single_book .read-more, .booking-form #submit,.dests-wrap .read-more, .btn-search {
    background: #83a943 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #4b7700;
    border-radius: 0px;
}
.read-more-1 a {
    background: #83a943 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #4b7700;
}
.read-more-2, .read-more-1 {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.read-more-2 a {
    font-size: 16px;
    color:#69a700;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background: url('images/icon-right2.png') no-repeat right center;
    padding-right: 20px;
}
.home-about .about-myanmar {
    margin-top: 15px;
}
.home-about .about-myanmar .title-border {
    margin-bottom: 27px;
}
.inbound-tours {
    margin-top: 35px;
}
.our-destinations{
    background: #f4f4f4;
    padding:20px 0;
}
.content-bt {
    padding:20px 0;
 }
.content-bt .air-ticketing-left {
    /*width: 48%;*/
    width: 100%;
    /*margin-right: 4%;*/
    margin-bottom: 10%;
    float: left;
}
.content-bt .air-ticketing-right {
    /*width: 48%;*/
    width: 100%;
    float: left;
}
.inbound-tours-list .tours-image-wrapper img {
    height: auto;
    max-width: 100%;
    width:100%;
}
.inbound-tours-list .tours-content-wrapper {
     position: absolute; 
    bottom: 0;
    left:0;
    background-color: #83a943;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    height:100px;
}
.inbound-tours-list .inbound-tours-item {
margin-bottom: 30px;
min-height: 200px;
position: relative;
}
.inbound-tours-list  .tours-content-right h2.entry-title {
    margin-top: 0;
    line-height: 18px;
    margin-bottom: 5px;
    z-index: 1;
}
.inbound-tours-list  .tours-content-right h2.entry-title a{
    font-size: 16px;
    color:#fff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
}
.inbound-tours-list  .tours-content-right .tours-duration {
    font-size: 18px;
    color:#fff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}
.inbound-tours-list  .tours-content-right .tours-excerpt,.inbound-tours-list  .tours-content-right .tours-duration {
    font-size: 14px;
    color:#f0f0f0;
    margin-top: 8px;
    display: none;
}
.inbound-tours-list .tours-content-left {
    width: 24px;
    height: 30px;
    float: left;
    display: inline-block;
    background: url('images/file.png') no-repeat center center / 100% 100%;
}
.inbound-tours-list .tours-content-right {
    float: left;
    width: calc(100% - 54px);
    padding-left: 13px;
    margin-left: 13px;
    border-left: 1px solid #ffffff;
}
.inbound-tours-list .tours-content-wrapper:hover .tours-excerpt, .inbound-tours-list .tours-content-wrapper:hover .tours-duration{
    display: block;
    transition-delay: 1s;
}
.tour-des {
  bottom: 0;
  position: absolute;
  width: 100%;
}
/*.triangle-bottomleft { width: 0; height: 0; display:none; border-bottom: 80px solid #83a943; border-right: 257px solid transparent; }*/
/*.tour-des:hover .triangle-bottomleft{display:block;bottom:160px;}*/
.inbound-tours-item:hover .tour-des .triangle-bottomleft{display:block;bottom:160px;}
.tour-des:hover .tours-content-wrapper{height:160px;}
.inbound-tours-item:hover .tour-des .tours-content-wrapper{height:160px;}
 .inbound-tours-list .tours-content-wrapper:after {
    background: rgba(0, 0, 0, 0) url("images/bg-hover.png") no-repeat scroll center center / 100% auto;
    content: " ";
    height: 79px;
    left: 0;
    position: absolute;
    top: -78px;
    width: 100%;
    display: none;
}
.inbound-tours-list .tours-content-wrapper:hover:after {
    display: block;
} 
.inbound-tours-list {
    margin-bottom: 10px;
    margin-top: 15px;
}
.hotels-in-myanmar {
    position: relative;
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0 8px -2px #000;
    max-width: 100%;
}
.hotels-in-myanmar img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
.hotels-in-myanmar h2 {
    font-size: 22px;
    color:#fff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0;
    background: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 25px;
    left: 0;
    width:100%;
    text-align: center;   
}
/*.hotels-in-myanmar i {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    height: 58px;
    width: 58px;
    line-height: 58px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}*/
.flexslider {
    background: 0;
    border: 0;
    margin: 0;
    padding: 0 25px;
    box-shadow: none;
    -webkit-box-shadow:none;
}
.flex-control-nav, .flex-pauseplay {
    display: none;
}
/*testi*/
.testimonial_flexslider .flex-control-nav, .testimonial_flexslider .flex-pauseplay {
    display: block;
}
.testimonial {
    padding-bottom: 50px;
}
/*testi*/
.flexslider .flex-direction-nav a {
    font-size: 0;
    opacity: 1 !important;
    z-index: 1;
    top:43%;
}
.flex-direction-nav .flex-next {
    right: 0 !important;
}
.flex-direction-nav .flex-prev {
    left: 0 !important;
}
.flex-direction-nav a::before {
    font-size: 26px;
    color:#c0c0c0;
}
.our-destinations .flexslider h4.entry-title {
    text-align: center;
    margin-bottom: 0;
}
.our-destinations .flexslider h4.entry-title a {
    width: 100%;
    font-size: 14px;
    color:#3f3f3f;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.content-bt .car-rental {
    position: relative;
    display: inline-block;
}
/*.content-bt .car-rental  a {   
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 39px;
    left: 50%;
    line-height: 39px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 39px;
}*/
.content-bt .car-rental img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
}
.single-content ul li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.single-content ul li:last-child {
    border: 0;
}
.hotel-list .hotel-item .hotel-image-wrapper {
    height: 230px;
    text-align: center;
}
.hotel-list .hotel-item .hotel-image-wrapper img {
    height: 100%;
    width: 100%;
}
.hotel-list .hotel-item h2 {
    margin-top: 0;
}
.hotel-list .hotel-item h2 a {
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color:#464646;
}
