a, h1, h2, h3, h4, h5, h6{
	color:#83a943;
	text-decoration:none;
}
/*#menu-main-menu li a:hover, #menu-main-menu li.current-menu-item a{color:#83a943;text-decoration:none;}*/
#footer .widget .menu li a:hover{
	color:#83a943;
	text-decoration:none;
}
.flexslider .slides img:hover {
  opacity:0.8;
}
ul.contact-info li {
  color: #3f3f3f;
  float: left;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}
ul.contact-info li i {
  color: #625831;
  float: left;
  font-size: 21px;
  width: 30px;
}
ul.contact-info li span.ct-info {
  float: left;
  width: calc(100% - 30px);
}
.contactform input{
	border:1px solid #83a943;
}
.contactform textarea{
	width:100%;
	border:1px solid #83a943;
}
.contactform input[type=submit], .contactform  button{
background: #83a943 none repeat scroll 0 0;
border: medium none;
color: #fff;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bold;
letter-spacing: 1px;
padding: 5px 10px;
text-transform: uppercase;
}
.hotel-list .hotel-item h2 a {
  color: #83a943;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.destination-image-wrapper{text-align:center;}
.destination-image-wrapper img:hover, .single-destination-image img:hover{opacity:0.8;}
.tour-detail-content{margin:0 0 15px;}
hr.spe {
  background: #ddd none repeat scroll 0 0;
  height: 1px;
  margin: 10px auto;
  width: 50%;
}
/*#footer #gallery-1 .gallery-item {
  width: 32%;
}*/
#footer .gallery dl {
  margin: 0 1% 1% 0;
}
#footer .gallery img {
  border: medium none;
  border-radius: 10px;
  display: inline-block;
}
@media (max-width:1199px) {
    /*.header-menu ul {
        text-align:center;
    }
    .header-menu ul li {
        display: inline-block;
        float: none!important;
        line-height: 45px;
    }*/
    .tour-des:hover .tours-content-wrapper {
        height: 180px;
    }
    /*#menu-main-menu li ul li{
        text-align: left;
    }
    .menu-main-menu-container ul li .sub-menu li {
        padding: 0 0 0 15px;
        line-height: 40px;
    }*/
    .inbound-tours-list .tours-content-right h2.entry-title a {
        font-size: 13px !important;
    }
}
@media (max-width:1024px) {
    .container {
        width:98%;
    }
    .tour-des:hover .tours-content-wrapper {
        height: 177px;
    }
    .inbound-tours-list .tours-content-right .tours-excerpt {
        margin-top: 3px !important;
    }
}
button#responsive-menu-button {
  right: 10px !important;
  top: 10px !important;
  border: 1px solid #fff;
}

@media (max-width:900px) {
    .inbound-tours-list .tours-content-right {
        height:100% !important;
    }
    
    .inbound-tours-list .tours-content-right .tours-duration {
        font-size: 14px !important;
    }
    /*.inbound-tours-list .tours-content-right h2.entry-title a {
     font-size: 13px !important;
     }*/
     .inbound-tours-list .tours-content-wrapper:hover .tours-excerpt {
        font-size:11px !important; 
     }
     .inbound-tours-list .inbound-tours-item {
        min-height: 260px !important;
     }
}
@media (max-width:768px) {
    .slogan h3 {
        position: relative !important;
    }
    /*.inbound-tours-list .tours-content-right .tours-duration {
        font-size: 12px !important;
    }
    .inbound-tours-list .tours-content-right h2.entry-title a {
        font-size: 12px !important;
    }*/
    .inbound-tours-list .tours-content-right h2.entry-title {
        margin-top: -10px !important;
    }
    .inbound-tours-list .tours-content-wrapper {
        padding-top: 10px !important;
    }
    .tour_gallery .gallery-item img {
        width: 100%;
    }

}
@media (max-width:767px) {
    .header-top {
        text-align:center;
        padding-bottom: 10px;
    }
    .header-top .info-right {
        width: 100%;
    }
    .header-top .info-right ul.social {
        text-align: center;
    }
    .home-about .col-lg-8 {
        padding-right: 0px;
    }
    .hotels-in-myanmar img {
        width: 100%;
    }
    .hotels-in-myanmar {
        width: 100%;
    }
    .content-bt .car-rental {
        width: 100%;
    }
    .content-bt .car-rental img {
        width: 100%;
    }
    .gallery img {
        width: 100%;
    }
     .menu-footer-menu-container ul li {
        width: 50%;
        float: left;
    }
    .menu-footer-menu-container {
        float: left;
        padding-bottom: 20px;
        width: 100%;
    }
    .footer-copyright  p{
        text-align: center!important;
    }
}
@media (max-width:640px) {
    .header-top {
        text-align:center;
        padding-bottom: 10px;
    }
    .header-top .info-right {
        width: 100%;
    }
    .header-top .info-right ul.social {
        text-align: center;
    }
    
    .inbound-tours-list .tours-content-right h2.entry-title a {
        font-size: 15px !important;
    }
    .inbound-tours-list .tours-content-right .tours-duration {
        font-size: 15px !important;
    }
    .inbound-tours-list .tours-content-right h2.entry-title {
        margin-top: 0 !important;
    }
    .inbound-tours-list .tours-content-right .tours-excerpt {
        font-size: 14px !important;
    }
    .inbound-tours-list .inbound-tours-item {
        height: 350px !important;
    }
    .inbound-tours-list .tours-content-right {
        height: auto !important;
    }
    .tour-des:hover .tours-content-wrapper {
        height: 115px !important;
    }
    
   
}
@media (max-width:414px ) {
    .header-top, .header-top .info-right ul.social , .about-us{
        text-align: center;
    }
    .header-top .info-right ul.info li {
        margin: 10px 0 0;
    }
	.header-top .info-right ul.social {
		margin:10px 0;
	}
    .home-about .col-lg-8 {
        padding-right: 0;
    }	
	.content-bt  .air-ticketing-left, .content-bt  .air-ticketing-right{
		width:100%;
		margin:10px 0 0;
	}
	.footer-copyright p {text-align:center !Important; }
    #footer h3 {
        text-align: center;
    }
    .tour-des:hover .tours-content-wrapper {
        height: 160px;
    }
    .contact-info {
        text-align: center;
    }
    #footer .contact-info ul .icon-1 span.ct-info {
        float: left;
        width: calc(100% - 40px);
    }
    #footer .contact-info ul .icon-1 {
        padding-left: 20px;
    }
    #footer .contact-info ul .icon-2 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-2 {
        padding-left: 122px;
    }
    #footer .contact-info ul .icon-3 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-3 {
        padding-left: 65px;
    }
    #footer .contact-info ul .icon-4 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-4 {
        padding-left: 65px;
    }
}
@media (max-width:375px) {
    .home-about .about-us .title-border {
        width:100%;
    }
    .alignnone, a img.alignnone, .wp-caption.alignnone, .wp-caption.alignleft {
        margin: 5px 0px 20px 0;
    }
    .menu-footer-menu-container ul li {
        width: 100%;
    }
     #footer .contact-info ul .icon-1 span.ct-info {
        float: left;
        width: calc(100% - 65px);
    }
    #footer .contact-info ul .icon-1 {
        padding-left: 25px;
    }
    #footer .contact-info ul .icon-2 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-2 {
        padding-left: 85px;
    }
    #footer .contact-info ul .icon-3 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-3 {
        padding-left: 50px;
    }
    #footer .contact-info ul .icon-4 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-4 {
        padding-left: 50px;
    }
    .menu-footer-menu-container {
        padding-left: 22%;
    }
}
@media (max-width:360px) {
    .alignnone, a img.alignnone, .wp-caption.alignnone, .wp-caption.alignleft {
        margin:5px 20px 20px;
    }
    .alignnone, a:first-child img.alignnone, .wp-caption.alignnone, .wp-caption.alignleft {
        margin-right: 60px;
    }
     #footer .contact-info ul .icon-1 span.ct-info {
        float: left;
        width: calc(100% - 65px);
    }
    #footer .contact-info ul .icon-1 {
        padding-left: 0;
    }
    #footer .contact-info ul .icon-2 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-2 {
        padding-left: 70px;
    }
    #footer .contact-info ul .icon-3 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-3 {
        padding-left: 35px;
    }
    #footer .contact-info ul .icon-4 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-4 {
        padding-left: 35px;
    }
    .tour-des:hover .tours-content-wrapper {
        height: 180px;
    }
}
@media (max-width:320px) {
    .inbound-tours-list .tours-content-wrapper {
       padding:15px 0 0 15px !important;   
    }
    .flexslider ul li {
        width: 96px !important;
    }
    .footer a img {
        width: 22%;
    }
    .footer  a  .wp-image-5428 {
        width: 19%!important;
    } 
    .footer a   .wp-image-5429 {
        width: 18%!important;
    } 
    .footer  a  .wp-image-5430 {
        width: 37%!important;
    } 
    .footer a   .wp-image-5431 {
        width: 22%!important;
    } 
     #footer .contact-info ul .icon-1 span.ct-info {
        float: left;
        width: calc(100% - 35px);
    }
    #footer .contact-info ul .icon-1 {
        padding-left: 0;
    }
    #footer .contact-info ul .icon-2 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-2 {
        padding-left: 60px;
    }
    #footer .contact-info ul .icon-3 span.ct-info {
        float: left;
        width: calc(100% - 85px);
    }
    #footer .contact-info ul .icon-3 {
        padding-left: 15px;
    }
    #footer .contact-info ul .icon-4 span.ct-info {
        float: left;
        width: calc(100% - 125px);
    }
    #footer .contact-info ul .icon-4 {
        padding-left: 15px;
    }
}