/*global*/
table {
    border-spacing: 2px;
    border-collapse: separate;
    width: 100%;
}
tbody tr {
    background: #daf6db;
}
tbody tr:nth-child(2n) {
    background: #f8f3d3;
}
table td, table th {
    padding: 5px 10px;
    text-align: left;
}
table td:first-child{
    width: 32%;
}
.pd15 {
    padding: 15px;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
/*logo and hotline*/
.logo {
    display: inline-block;
    margin-right: 10px;
}
.info_socal {
    font-size: 14px;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    font-weight: 700;
    float: right;
}
.slogan {
    /*min-height: 102px;*/
    display: inline-block;
}
.slogan h3 {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 17px;
}
/*menu*/
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #4b7700;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #4b7700;
    background-color: transparent;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #4b7700;
}
.navbar-collapse {
    padding: 0px;
}
.dropdown-menu>li>a {
    padding: 8px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
    color: #4b7700;
}
/*header-banner*/
.header-banner {
	position: relative;
}
.banner-image {
	height: 300px;
	background-repeat: no-repeat;
    background-size: cover;
}
.header-section_title {
	padding: 0 15px;
    position: absolute;
    bottom: 0;
    text-indent: 20px;
    /*left: 20%;*/
    width:100%;
    color: #fff;
    background: rgba(0,0,0,0.3);
}
.header-section_title h1 {
	margin-bottom: 20px;
    color: #fff;
	font-size:32px;
}
/*content-area*/
.content-area {
	padding: 30px 0px;
}
/*footer gallery*/
#gallery-1 {
    margin: auto;
}
#gallery-1 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 30%;
}
#gallery-1 img {
    border: 2px solid #cfcfcf;
}
/*home page*/
.aboutmm_img {
	position: relative;
}
img.img_shape {
	position: absolute;
    left: -10px;
}
img.main_img, .our-destinations .destination-image-wrapper img {
	border-radius: 50%;
}
.read-more-2 a:hover
{
    color: #607b32;
}

/*hotels*/
.each_hotel h4 {
    display: block;
    color: #3c586d;
    margin-top: 20px;
}
.each_hotel ul,.each_hotel ul li {
    list-style: none;
    padding: 10px 0px;
}
.each_hotel i {
    color: #3c586d;
    margin-right: 5px;
}
.each_hotel img.hotel_img {
  width: 100%;
}
/*--------------------------*
/* Mask
/*--------------------------*/
 .mask {
    position: absolute;
    font-size: 30px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    top: 0px;
    display: table-cell;
    vertical-align: middle;
    /*background: #000;*/
    z-index: 10;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    zoom: 1;
}
.wrapmask {
    position: absolute;
    font-size: 30px;
    background: transparent;
    width: 100%;
    height: 150%;
    margin: -30% 0px auto;
    display: table-cell;
    vertical-align: middle;
    top: 20%;
    text-align: center;
    -webkit-transition : all ease-in 0.4s;
    -moz-transition : all ease-in 0.4s;
    -ms-transition : all ease-in 0.4s;
    -o-transition : all ease-in 0.4s;
}
.wrapmask:hover {
    top: 35%;
}
.wrapmask span {
    display: block;
    /*height: 100%;*/
    margin-top: 30%;
    font-size: 19px;
    line-height: 23px;
    color: #fff;
}
.wrapmask span i {
    font-size: 18px;
    padding: 19px 20px;
    background: rgba(0,0,0,0.7);
    margin-right: 0px;
    color: #fff;
    position: relative;
    margin: 0 auto;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
/*contact */
h3.widget-title, .pages h4, .pages h3, .price_in h4, .price_ex h4 {
    color: #4b7700;
    font-weight: 600;
}
.pages h3 {
	display: inline-block;
    border-bottom: 3px solid #d0d1cf;
    margin-bottom: 20px;
}
h3.widget-title {
	margin-top: 10px;
	margin-bottom: 20px;
}
ul.contact-info li {
	margin-bottom: 15px;
}
ul.contact-info i {
	width: 30px;
    color: #625831;
    font-size: 18px;
}
ul.contact-info span {
	font-size: 15px;
	line-height: 20px;
}
.contactform input, .contactform textarea{
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    max-height: 80px;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 60%;
}
/*widget*/
.widget {
    margin-bottom: 30px;
}
.side-widget {
	padding: 15px;
    background: #83a943;
    box-shadow: 0px 0px 0px 2px rgba(131, 169, 67, 0.47);
    border-radius: 3px;
    
}
.widget_title {
    opacity: 1;
    margin: 0px -15px 10px -15px;
    padding: 0 10px 10px;
    font-size: 1.200em;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #e9e9e9;
}
.widget_title:after {
    content: ' ';
    display: block;
    background: #fff;
    position: absolute;
    height: 5px;
    width: 30px;
    bottom: -1px;
    left: 50%;
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.side-widget ul {
    margin: 0;
    padding: 0;
    position: relative;
    color: #333;
    border: none;
    list-style: none;
}
.side-widget ul li {

    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e2e2e2;
    padding-left: 0;
    background: white;
    border-radius: 5px;
    /*text-indent: 20px;*/
    padding: 10px;
    color: #333;
}
.side-widget ul li a
{
    color: #5a5a5a;
    font-size: 15px;
    background: url(../images/star.png) no-repeat 1px 1px;
    display: block;
    padding: 0px 0px 0px 30px;
    word-wrap: break-word;
}
.side-widget ul li a:hover{
    color: #83a943;
}
/*.side-widget ul li a
{
    content: "\f005 ";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #83a943;

}*/
/*single destination*/
.destination-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.list-block li {
	display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0px 10px 10px 0;
    color: #fff;
    background: rgb(146, 118, 6);
    border-radius: 3px;
    font-family: Oxygen;
    /*font-weight: 700;*/
    font-style: normal;
    font-size: 1em;
    padding: 0 15px;
}
.gallery-item {
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.09);*/
    margin-bottom: 30px;
}
.tour_gallery .gallery-item img {
	border-radius: 15px;
    /*box-shadow: 2px 2px 3px rgb(146, 118, 6);*/
}
.tour_gallery .gallery-item img:hover
{
    opacity: 0.5;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    box-shadow: 0px 0px 3px #333;
}
.attractions h3
{
    color:  rgb(146, 118, 6);
}
.destination-content-wrapper {
	padding: 10px;
}
.destination-content-wrapper a {
	color: #056d0a;
    padding: 5px;
}
.destination-content-wrapper a:hover
{
    color: white;
}
.destination-content-wrapper .des_more {
	text-align: right;
	font-weight: 600;
}
/*single tour program*/
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    display: block;
}
.nav-tabs>li>a {
	font-size: 16px;
    background: #ddd;
    color: #625831;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #83a943;
    color: #fff;
}
.tab-content {
	box-shadow: 0 2px 3px rgba(0,0,0,0.09);
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 3px solid #83a943;
}
.tours-tabs_content {
	padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}
.tours-tabs_content h3 {
    color: #4b7700;
    font-size: 20px;
}
.tours-info {
	display: table;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    background: #fdfdfd;
}
.each-info { 
 	    display: table-cell;
    height: 120px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ebebeb;
}
.info-text {
	font-weight: 600;
    color: #4b7700;
    line-height: 1.5em;
}
.price_in ul, .price_ex ul {
	padding: 10px 0px;
}
.price_in ul li, .price_ex ul li {
	padding-right: 10px;
	line-height: 25px;
}
.price_in ul li:before {
	content: "\f00c";
	font-family: 'FontAwesome';
	color: #01cb68;
	padding-right: 10px;
}
.price_ex ul li:before {
	content: "\f00d";
	font-family: 'FontAwesome';
	color: #eb7591;
	padding-right: 10px;
}	
.each_item {
	display: table;
    width: 100%;
    margin-bottom: 2px;
}
.item_icon_wrap{
	display: table-cell;
    vertical-align: top;
    width: 70px;
    position: relative;
    overflow: hidden;
}
.item_icon_wrap:before {
	content: " ";
    display: block;
    border-left: 4px dotted #83a943 ;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    z-index: 1;
} 
.item_icon{
	display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #83a943 ;
    border-radius: 100%;
    text-align: center;
    font-family: 'Kaushan Script';
    font-size: 1.467em;
    color: #fff;
    position: relative;
    z-index: 2;
}
.item_icon:before{
	content: " ";
    display: block;
    width: 60px;
    height: 60px;
    background: transparent;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    border: 3px solid rgba(255,255,255,0.5);
}
.item_text {
	display: inline-block;
    margin-left: -3px;
}
.item_content{
	display: table-cell;
    vertical-align: top;
    padding-bottom: 10px;
    padding-left: 20px;
}
.item_title{
	margin: 20px 0 !important;
    font-family: Oxygen;
    font-weight: 700;
    font-style: normal;
    font-size: 1.467em;
}

.item_description figure img {
    float: right;
    width: 40%;
    margin-left: 10px;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.item_description figure:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.single_book {
    margin-top: 30px;
}
/* 7. Reservation */
.invalid {
     border: 1px solid #ff3636 !important; 
}
#success_reservation{
  display: none;   
}
form#tour-book {
    margin: 0px 0px 20px 20px;
}
form input:focus, form textarea:focus {
    border: 1px solid #D4A32D !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important;
}
.booking-form-wrapper{ padding: 0; }
.booking-form-wrapper .booking-form {
    padding: 0;
}
.booking-form .tour_info_title{ border-bottom: 1px dotted #CCC;padding: 0;  min-height: 20px;}
.booking-form .tour_info_title h2{ font-weight: bold; margin-top: 0px;color: #4b7700;}
.booking-form ul{
    padding: 0;
    margin: 0;
}
.red-text {
  font-weight: bolder;
  color: #600;
}
.label-fl {
    float: none !important;
    width: auto !important;
}
.booking-form ul li, .search_form ul li {
    clear: both;
    list-style: none outside none;
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 40px;
}
.booking-form label {
    display: inline-block;
    float: left;
    width: 210px;
    font-weight: normal;
}
label.us-currency{
    height: 38px;
    display: inline-block;
    line-height: 38px;
    float: left;
    width: auto;
    margin: -18px 0 0 10px;
    font-size: 17px;
}
.booking-form .select-wrap > label {
    width: 80px;
}
.booking-form select {
    width: 95px;
    background: #e7e7e7;
}
input.error, textarea.error, .invalid {
    /*border: 1px solid #600 !important;  */  
}
.booking-form input[type="text"], .booking-form textarea, input[type="text"] {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    float: left;
    width: 320px;
    height: 35px;
    box-shadow: none;
    background: #fff;
}
.booking-form textarea{ min-height: 100px; }
.booking-form .select-wrap {
    display: inline-block;
    float: left;
    width: 110px;
}
.booking-form .radio-wrap,
.signupform .radio-wrap{
    width: 90px;
    margin-right: 20px;
    display: inline-block;
}
#tour_title{ width: 50%; background: #fff; height: 35px;}
.booking-form .lang-option-wrapper{ margin-left: 210px;}
.booking-form .radio-wrap input, 
.signupform .radio-wrap input{
    display: inline-block;
    margin-right: 11px;
    margin-top: -5px;
    width: auto;
}
.booking-form .radio-wrap label , .signupform .radio-wrap label{
    display: inline-block;
    float: none !important;
}
.booking-form .captcha-wrap {
    margin-left: 193px;
}
#friend-captcha-form {
    padding: 9px;
    margin-left: 20px;
}
.input-search {
    padding: 9px;
}
#friend-captcha{ display: block; }
#change-image{ display: inline-block; margin: 10px 10px 0 22px; }
.fancybox-skin { background: #000 !important; color: #fff !important; }
.booking-form .captcha-wrap {
    margin-left: 193px;
}
/*.booking-form #submit{ 
    float: left; 
    width: auto; 
    font-size: 1em;         
    text-transform: uppercase; 
    font-weight: bold; 
    background: #3c586d; 
    border: #3c586d; 
    padding: 10px 40px;
    text-shadow: 0 0 2px #333;
    border-radius: 5px;
}*/
.booking-form #submit:hover,.single_book .read-more:hover{    
    background-color: #607b32;
}
.booking-form #submit:hover{ text-decoration: none; color: #fff;}
.no-label {
    clear: both;
    margin-top: 15px;
    margin-left: 210px;
}
.inline-input {
    display: inline-block;
}
#target-rate {
    width: 96px !important;
/*    float: none !important;*/
    margin-top: -18px;
}
.price-label {
    display: inline-block;
}
.tour_guide_type {
    margin-top: 20px;
}
.tour_guide_type .radio-wrap {
    width: 150px;
}
.booking-form input[type="text"]:focus, .booking-form textarea:focus, .booking-form select:focus{ box-shadow: none; }
.booking-form input, .booking-form textarea, .booking-form select{ background: #fff; box-shadow: none; }
.booking-form select {
    height: 35px;
}
/*weather and currency*/
.currency-rates br {
    display: none;
}
.currency-rates ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin-bottom: 14px;
    padding: 0px 6.7px;
}
.currency-rates ul li {
    padding: 8px 11px;
    background: rgba(248, 234, 179, 0.8);
    margin: 0 11px 3px 0;
    display: block;
    text-align: right;
    border-radius: 3px;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
#currencyr-2-currency-result.currency-result{
    clear: right;
    width: 90%;
    display: inline-block;
    text-indent: 35px;
}
.currency-converter > p > label.currency-result-code{
    color: #fff;
}
.block-title h4 {
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 -1px 1px #999;
}
.currency-converter {
    margin: 0;
    padding: 0;
}
.currency-converter > p {
    margin-bottom: 5px;
    /*overflow: visible;*/
    visibility: visible;
    width: auto;
    height: 40px;
    position: relative;
    
}
.currency-converter > p.currency-amount-wrapper > label {
    float: left;
    position: absolute;
    left: 1px;
    top: 1px;
    background: #2c93d0;
    display: inline-block;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    color: #fff;
}
.currency-converter > p.currency-amount-wrapper > input {
    clear: right;
    width: 90%;
    display: inline-block;
    text-indent: 35px;
}
.currency-converter > p > label {
    /*display: block;*/
    color: #000;
    float: left;
    position: absolute;
    left: 1px;
    top: 1px;
    background: #2c93d0;
    display: inline-block;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 36px;
}
.currency-converter .currency-submit {
    display: block;
    background: #83a943;
    border: 1px solid #83a943;
    color: #FFF;
    padding: 8px 12px;
    margin-top: 19px;
    width: 39%;
    border-radius: 3px;
    font-weight: bold;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.currency-converter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
.currency-converter ul li {
    margin: 0;
    padding: 0;
    width: 39%;
    float: left;
    display: inline-block;
}
.currency-converter ul li p {
    margin-bottom: 20px;
    color: #000;    
}
.currency-converter ul li label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.currency-converter ul li select {
    display: block;
    width: 100%;
    height: 40px;
}

.currency-converter ul li:first-child {
    margin-right: 9%;
}
.flag {
    display: inline-block;
    width: 25px;
    height: 15px;
    background: url(../images/flags.png) no-repeat;
}
.flag.flag-mm {
    background-position: -275px -120px;
}
.flag.flag-ja, .flag.flag-jp, #flags a.japanese {
    background-position: -300px -90px;
}
.flag.flag-th, #flags a.thai {
    background-position: 0 -195px;
}
.flag.flag-au {
    background-position: -325px 0;
}
.flag.flag-eu {
    background-position: 0 -60px;
}
.flag.flag-cn {
    background-position: -299px -30px;
}
.flag{
    padding:0px;
}
.currency-rates ul li .flag {
    display: inline-block;
    float: left;
}
.currency-rates ul li span {
    display: inline-block;
    float: left;
    padding-left: 6px;
    line-height: 14px;
}
.currency-rates .currency-updated, .block-title h4 {
    margin: 10px auto;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 6px #fff;
}
.currency-converter{
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
}
/*pagenation*/
 /* pagination */
ul.pagination li span.current{
    z-index: 3;
    color: #fff;
    border-color: #3c586d;
    background-color: #83a943;
}
.pagination>li>a, .pagination>li>span{
    color: #9c9e4a;
}
/*testimonial*/
.cd-testimonials-wrapper, .cd-testimonials-wrapper * {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cd-testimonials-wrapper ul {
  list-style: none;
}

.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  /*max-width: 768px;*/
  background-color: #585858;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}
.cd-testimonials-wrapper:after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(104, 144, 40, 0.9);
  font-family: "Georgia", serif;
  color: white;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin:0px auto;
    /*padding: 30px 50px;*/
    padding: 30px 30px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: white;
  text-align: center;
}
.cd-testimonials:after {
  content: "";
  display: table;
  clear: both;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  /*padding: 0 14px;*/
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}
.cd-author .cd-author-info  {
    color: #d1f595;
}
.cd-author .cd-author-info li:last-child {
    color: #83a943;
}
/*.cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70;
}
@media only screen and (min-width: 768px) {
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}*/

.cd-testimonials-wrapper .flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.cd-testimonials-wrapper .flex-direction-nav li:first-child {
  left: 0;
}
.cd-testimonials-wrapper .flex-direction-nav li:last-child {
  right: 0;
}
.cd-testimonials-wrapper .flex-direction-nav li a {
      display: block;
      height: 100%;
      width: 100%;
      /* image replacement */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    position: relative;
    top: 20px;
    opacity: 1;
}
.cd-testimonials-wrapper .flex-direction-nav li:hover {
  background-color: #323234;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.cd-testimonials-wrapper .flex-direction-nav li a::before, .cd-testimonials-wrapper .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: white;
}
.cd-testimonials-wrapper .flex-direction-nav li a:before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.cd-testimonials-wrapper .flex-direction-nav li a:after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.cd-testimonials-wrapper .flex-direction-nav li:last-child a:before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.cd-testimonials-wrapper .flex-direction-nav li:last-child a:after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper .flex-direction-nav li {
    width: 30px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper .flex-direction-nav li a::before, .cd-testimonials-wrapper .flex-direction-nav li a:after {
    background-color: #919196;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .cd-testimonials-wrapper .flex-direction-nav li a:hover::before, .cd-testimonials-wrapper .flex-direction-nav li a:hover::after {
    background-color: white;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
  color: #79b6e4;
}


.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*responsive*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    /*.navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }*/
    .navbar-nav>li {
        float: none;
        padding: 10px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media(max-width:990px) {
    #sidebar {
        margin-top: 30px;
    }
}

@media(max-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .item_description figure img  {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .destination-image-wrapper img {
        width: 100%;
    }
}


/*transition effect*/
.transition-normal
{
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;

}

/*default style*/
.defaultpage
{
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 3px rgba(0,0,0,0.09);
}
.textwidget table {
    margin-bottom: 0px;
}
/*search*/
.searchform input{
    float: none;
}
.header_search #searchsubmit {
    display: none;
}
.header_search input {
    font-size: 13px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}